.pagination {
  display: flex;
  gap: 10px;
  background: var(--background-weak-rgba);
  border-radius: 5px;
}

.pagination a {
  cursor: pointer;
  padding: 10px;
}

.pagination a:hover {
  color: var(--primary-font-color-link);
}

.pagination .selected {
  color: var(--primary-font-color-link);
  pointer-events: none;
}

.pagination .disabled {
  opacity: 0.5;
  pointer-events: none;
}
