.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  gap: var(--medium-spacing);
  padding-top: 5rem;
  max-width: var(--max-width);
  min-height: 100vh;
  background: rgb(var(--background-rgb));
}

.title {
  width: 100%;
  padding: 0 var(--medium-spacing);
}

.image {
  max-width: 100%;
  height: 100%;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  padding: 0 var(--medium-spacing);
}

.content {
  padding: 0 var(--medium-spacing);
  width: 100%;
}

.content h1,
.content h2,
.content p,
.content pre {
  margin-bottom: var(--small-spacing);
}

.content pre {
  background: var(--background-inverse-rgb);
  color: var(--inverse-font-color);
  padding: var(--small-spacing);
  overflow: auto;
}

.content blockquote {
  padding-left: var(--large-spacing);
  color: var(--primary-font-color-weak);
}

.content a {
  color: var(--primary-font-color-link);
}
