.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 100%;
  background: rgb(156, 76, 76);
}

.ribbon {
  position: relative;
  height: 100%;
  width: 100%;
  transition: all 0.3s;
  transform-style: preserve-3d;
  perspective: 1000px;
  overflow: hidden;
  z-index: 15;
}
