.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--inverse-font-color);
  font-size: var(--large-font-size);
  border-radius: var(--border-radius);
  background: var(--background-strong-rgb);
}

.container svg {
  font-size: 60px;
}
